<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="assets/code.png" />

  <title>Code share</title>

  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet" />
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
  <!-- codemirror -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/codemirror.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/codemirror.min.js"></script>


  <style>
    body {
      font-family: "Roboto";
    }
    .editor {
      min-height: 200px;
      max-height: 500px;
      overflow: auto;
    }
  </style>
</head>

<body>
  <div>
    <h1>Code share</h1>
    <div class="mdc-card">
      <textarea id="code" class="editor" spellcheck="false" placeholder="Write your code here"></textarea>

      <!-- ... additional primary action content ... -->
      <div class="mdc-card__actions">
        <div class="mdc-card__action-buttons">
          <button class="mdc-button mdc-card__action mdc-card__action--button" onclick="post()">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Upload</span>
          </button>
        </div>
      </div>
    </div>
    <div class="alert alert-primary" role="alert" id="result" style="display: none; margin-top: 10px"></div>

    <div id="error" style="
          display: none;
          margin-top: 10px;
          background-color: red;
          border-radius: 10px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          color: white;
        "></div>
  </div>

  <div>
    <h3>Your codes</h3>
    <div class="mdc-data-table">
      <div class="mdc-data-table__table-container">
        <table class="mdc-data-table__table" aria-label="Your codes">
          <thead>
            <tr class="mdc-data-table__header-row">
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
                link
              </th>
              <th class="
                    mdc-data-table__header-cell
                    mdc-data-table__header-cell--numeric
                  " role="columnheader" scope="col">
                hash
              </th>
              <th class="
                    mdc-data-table__header-cell
                    mdc-data-table__header-cell--numeric
                  " role="columnheader" scope="col">
                createdAt
              </th>
            </tr>
          </thead>
          <tbody class="mdc-data-table__content"></tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
    const codemirror = CodeMirror.fromTextArea(
      document.getElementById("code"),
      {
        lineNumbers: true,
      }
    );


    async function post() {
      document.getElementById("error").style.display = "none";
      const code = codemirror.getValue();
      const response = await fetch("<%= baseURL %>/newCode", {
        headers: {
          "content-type": "application/json",
          back: true,
        },
        body: JSON.stringify({
          code,
        }),
        method: "POST",
      });
      const json = await response.json();
      json.link = `<%= baseURL %>/${json.shortId}`;
      if (!json.error) {
        saveResult(json);
      } else {
        const errorDom = document.getElementById("error");
        errorDom.innerHTML = `An error occurred: <b>${json.message}</b>`;
        errorDom.style.display = "block";
      }
    }

    function saveResult(json) {
      let items = localStorage.getItem("links");
      try {
        items = JSON.parse(items);
      } catch (_error) { }

      if (!items || !Array.isArray(items)) {
        items = [];
      }

      const found = items.find((i) => i.hash === json.hash);
      if (found) return;

      items.push(json);
      localStorage.setItem("links", JSON.stringify(items));

      addToTable(json);
    }

    function addToTable(json) {
      document.querySelector(".mdc-data-table__content").innerHTML =
        `<tr class="mdc-data-table__row">
          <th class="mdc-data-table__cell" scope="row"><a href="${json.link}" target="_BLANC">${json.link}</a></th>
          <th class="mdc-data-table__cell" scope="row"><pre>${json.hash}</pre></th>
          <th class="mdc-data-table__cell" scope="row">${json.createdAt}</th>
        </tr>` + document.querySelector(".mdc-data-table__content").innerHTML;
    }

    function initTable() {
      let items = localStorage.getItem("links");
      try {
        items = JSON.parse(items);
      } catch (_error) { }
      if (!Array.isArray(items)) return;

      items.forEach((json) => {
        addToTable(json);
      });
    }

    var input = document.getElementById("select");
    function selectTheme() {
      var theme = input.options[input.selectedIndex].textContent;
      codemirror.setOption("theme", theme);
    }

    initTable();
  </script>
</body>

</html>